openapi: 3.0.0
info:
  title: 'Star Citizen Wiki API'
  description: "The community-maintained Star Citizen data API powering [starcitizen.tools](https://starcitizen.tools) and [Star Citizen Wiki](https://star-citizen.wiki).\n\n## Getting Started\n\n- **Base URL:** `https://api.star-citizen.wiki`\n- **Format:** JSON\n- **Auth:** Most endpoints are public and require no authentication. Some endpoints (e.g. similar image search) require a Sanctum bearer token.\n- **Game Versions:** Game data endpoints are version-scoped. Omit the `version` parameter to use the current default version. See `GET /api/game-versions` for available versions.\n- **Pagination:** List endpoints return paginated results using `page[number]` and `page[size]` (max 200). Responses include `links` and `meta` pagination metadata.\n- **Sorting:** Use `sort` with field names. Prefix with `-` for descending (e.g. `-name`).\n- **Filtering:** Use `filter[field]=value` syntax. See each endpoint's filter parameters and the corresponding `/filters` endpoints for valid values.\n- **Rate Limits:** Search endpoints are rate-limited to 60 requests/minute per IP. Image search endpoints are limited to 10 requests/minute.\n\n## OpenAPI Specification\n\n- YAML: `GET /api/openapi`\n- Interactive docs: [docs.star-citizen.wiki](https://docs.star-citizen.wiki)\n\n## Attribution\n\nThis API is maintained by the Star Citizen Wiki community. Data is sourced from game files, RSI website, and community contributions.\n"
  contact:
    email: foxftw@star-citizen.wiki
  license:
    name: 'MIT (code only)'
    url: 'https://opensource.org/licenses/MIT'
  version: 3.0.0
servers:
  -
    url: 'https://api.star-citizen.wiki'
    description: 'Production API'
paths:
  /api/blueprints:
    get:
      tags:
        - Blueprints
      summary: 'List Game Blueprints'
      description: 'Returns paginated crafting blueprints, including ingredients, crafted items, and dismantle returns. Results are scoped to the requested or default game version.'
      operationId: listBlueprints
      parameters:
        -
          $ref: '#/components/parameters/page'
        -
          $ref: '#/components/parameters/page_number'
        -
          $ref: '#/components/parameters/page_size'
        -
          $ref: '#/components/parameters/version'
        -
          name: sort
          in: query
          description: 'Sort field. Prefix with "-" for descending. Supported: craft_time_seconds, ingredient_count, unlocking_missions_count.'
          schema:
            type: string
            example: '-craft_time_seconds'
        -
          name: 'filter[query]'
          in: query
          description: 'Search blueprints by crafted item name. Example: `Shotgun`'
          schema:
            type: string
        -
          name: 'filter[output.uuid]'
          in: query
          description: 'Filter by crafted item UUID (see GET /api/items). Example: `02d4cd2e-fa98-4086-aee1-6b2dfce8ea27`'
          schema:
            type: string
            format: uuid
        -
          name: 'filter[output.name]'
          in: query
          description: 'Filter by crafted item name. Example: `P4-AR Magazine (40 cap)`'
          schema:
            type: string
        -
          name: 'filter[output.class]'
          in: query
          description: 'Filter by crafted item class. Example: `ksar_smg_energy_01_gold01`'
          schema:
            type: string
        -
          name: 'filter[output.type]'
          in: query
          description: 'Filter by crafted item type (see GET /api/blueprints/filters for valid values). Example: `WeaponPersonal`'
          schema:
            type: string
        -
          name: 'filter[default]'
          in: query
          description: 'Filter by default availability (true/false). Example: `true`'
          schema:
            type: boolean
        -
          name: 'filter[ingredient]'
          in: query
          description: 'Matches ingredient resource type by name, key, or UUID before filtering blueprints. Example: `Aluminum`'
          schema:
            type: string
        -
          name: 'filter[ingredient.uuid]'
          in: query
          description: 'Filter by ingredient commodity UUID. Accepts comma-separated values (see GET /api/commodities). Example: `fde0cd65-8827-4b23-804d-cc8845dfa7ac`'
          schema:
            type: string
            format: uuid
        -
          name: 'filter[resource.uuid]'
          in: query
          description: 'Filter by resource commodity UUID, matching ingredients and dismantle returns. Accepts comma-separated values (see GET /api/commodities). Example: `fde0cd65-8827-4b23-804d-cc8845dfa7ac`'
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: 'List of blueprints'
          content:
            application/json:
              schema:
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/blueprint' } }
                  links: { $ref: '#/components/schemas/pagination_links' }
                  meta: { $ref: '#/components/schemas/pagination_meta' }
                type: object
  '/api/blueprints/{blueprint}':
    get:
      tags:
        - Blueprints
      summary: 'Get Game Blueprint Detail'
      description: 'Returns full detail for a single crafting blueprint, including ingredients, crafted item, dismantle returns, and associated missions. Scoped to the requested or default game version.'
      operationId: getBlueprint
      parameters:
        -
          name: blueprint
          in: path
          required: true
          schema:
            description: 'Blueprint UUID'
            type: string
            example: 280f47b7-8434-410c-b854-380768fdccec
        -
          $ref: '#/components/parameters/version'
      responses:
        '200':
          description: 'Blueprint detail'
          content:
            application/json:
              schema:
                properties:
                  data: { $ref: '#/components/schemas/blueprint' }
                type: object
        '404':
          description: 'Blueprint not found for the requested game version'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not_found_error_response'
  /api/blueprints/filters:
    get:
      tags:
        - Blueprints
      summary: 'Get Blueprint Filter Options'
      description: 'Returns available filter facets for blueprints (crafted item types, ingredient and resource UUIDs), optionally scoped to the requested or default game version.'
      operationId: listBlueprintFilters
      parameters:
        -
          $ref: '#/components/parameters/version'
      responses:
        '200':
          description: 'Filter facets for blueprints'
          content:
            application/json:
              schema:
                properties:
                  filters: { properties: { output.type: { description: 'Crafted item types (e.g. WeaponPersonal, Char_Armor_Torso, WeaponAttachment)', type: array, items: { $ref: '#/components/schemas/filter_value' } }, ingredient.uuid: { description: 'Ingredient commodity UUIDs with names and counts', type: array, items: { $ref: '#/components/schemas/filter_value' } }, resource.uuid: { description: 'Combined ingredient and dismantle return resource UUIDs with names and counts', type: array, items: { $ref: '#/components/schemas/filter_value' } } }, type: object }
                type: object
  /api/commodities:
    get:
      tags:
        - Commodities
      summary: 'List Game Commodities'
      description: 'Returns paginated game commodities with location data and resource metadata, optionally filtered to only those consumed by blueprints. Results include refined version info and starmap location data scoped to the requested or default game version.'
      operationId: listCommodities
      parameters:
        -
          $ref: '#/components/parameters/page'
        -
          $ref: '#/components/parameters/page_number'
        -
          $ref: '#/components/parameters/page_size'
        -
          $ref: '#/components/parameters/version'
        -
          name: sort
          in: query
          description: 'Sort field. Prefix with "-" for descending. Supported: key, name, rarity, density, instability, resistance, signature.'
          schema:
            type: string
            example: '-rarity'
        -
          name: 'filter[used]'
          in: query
          description: 'When true, only commodities used by blueprint ingredients in the requested or default game version are returned. Example: `true`'
          schema:
            type: boolean
        -
          name: 'filter[system]'
          in: query
          description: 'Star system where the commodity can be found (see GET /api/commodities/filters for valid values). Example: `Stanton System`'
          schema:
            type: string
        -
          name: 'filter[type]'
          in: query
          description: 'Location type name (see GET /api/commodities/filters for valid values). Example: `Planet`'
          schema:
            type: string
        -
          name: 'filter[rarity]'
          in: query
          description: 'Commodity tier/rarity level, lowercase (see GET /api/commodities/filters for valid values). Example: `epic`'
          schema:
            type: string
        -
          name: 'filter[kind]'
          in: query
          description: 'Resource kind (see GET /api/commodities/filters for valid values). Example: `mineable`'
          schema:
            type: string
        -
          name: 'filter[group]'
          in: query
          description: 'Commodity group name. Comma-separated for multiple. Example: `ProcessedGoods,Food`'
          schema:
            type: string
        -
          name: 'filter[refined_version]'
          in: query
          description: 'Refined version name (see GET /api/commodities/filters for valid values). Example: `Agricium`'
          schema:
            type: string
        -
          name: 'filter[location]'
          in: query
          description: 'Partial match on starmap location name. Example: `ArcCorp`'
          schema:
            type: string
        -
          name: 'filter[query]'
          in: query
          description: 'Search commodities by name or key. Example: `Agricium`'
          schema:
            type: string
        -
          name: 'filter[ship]'
          in: query
          description: 'When true, only show commodities mineable by ships. Example: `true`'
          schema:
            type: boolean
        -
          name: 'filter[ground_vehicle]'
          in: query
          description: 'When true, only show commodities mineable by ground vehicles. Example: `true`'
          schema:
            type: boolean
        -
          name: 'filter[fps]'
          in: query
          description: 'When true, only show commodities mineable on foot (FPS). Example: `true`'
          schema:
            type: boolean
        -
          name: 'filter[harvestable]'
          in: query
          description: 'When true, only show commodities collectible from harvestable or plant deposits. Example: `true`'
          schema:
            type: boolean
        -
          name: 'filter[salvage]'
          in: query
          description: 'When true, only show commodities obtainable through salvage. Example: `false`'
          schema:
            type: boolean
        -
          name: 'filter[mineable]'
          in: query
          description: 'When true, only show mineable commodities; when false, only show non-mineable. Example: `true`'
          schema:
            type: boolean
      responses:
        '200':
          description: 'List of commodities'
          content:
            application/json:
              schema:
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/commodity_link' } }
                  links: { $ref: '#/components/schemas/pagination_links' }
                  meta: { $ref: '#/components/schemas/pagination_meta' }
                type: object
              examples:
                commodities_by_location:
                  summary: 'Commodities filtered by location'
                  value: { data: [{ uuid: 00000000-0000-0000-0000-000000000000, name: Agricium, slug: agricium }], links: { first: 'https://api.star-citizen.wiki/api/commodities?page[number]=1', last: null, prev: null, next: null }, meta: { current_page: 1, per_page: 30, total: 1 } }
  '/api/commodities/{commodity}':
    get:
      tags:
        - Commodities
      summary: 'Show Game Commodity'
      description: 'Returns full details for a single game commodity including detailed location entries with starmap data, resource composition, areas, clustering data, and raw/refined version info. Results are scoped to the requested or default game version. Optionally include related blueprints and items.'
      operationId: getCommodity
      parameters:
        -
          name: commodity
          in: path
          required: true
          schema:
            description: 'Commodity UUID or slug'
            type: string
            example: agricium
        -
          $ref: '#/components/parameters/version'
        -
          name: include
          in: query
          description: 'Comma-separated relationships to include. Available: blueprints (crafting blueprints that use this commodity), items (items that produce or require this commodity).'
          schema:
            type: string
            example: 'blueprints,items'
      responses:
        '200':
          description: 'Commodity details'
          content:
            application/json:
              schema:
                properties:
                  data: { $ref: '#/components/schemas/commodity_show' }
                type: object
              examples:
                commodity_detail:
                  summary: 'Commodity detail response'
                  value: { data: { uuid: 00000000-0000-0000-0000-000000000000, name: Agricium, slug: agricium } }
        '404':
          description: 'Commodity not found.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not_found_error_response'
  /api/commodities/filters:
    get:
      tags:
        - Commodities
      summary: 'Game Commodity Filters'
      description: 'Returns all available filter values for game commodities, scoped to the requested or default game version. Filter values can be combined; providing a system filter will narrow the location facet to that system only.'
      operationId: listCommodityFilters
      parameters:
        -
          $ref: '#/components/parameters/version'
        -
          name: 'filter[used]'
          in: query
          description: 'When true, filter facets to only commodities used by blueprint ingredients. Example: `true`'
          schema:
            type: boolean
        -
          name: 'filter[system]'
          in: query
          description: 'Star system where the commodity can be found. Example: `Stanton System`'
          schema:
            type: string
        -
          name: 'filter[type]'
          in: query
          description: 'Location type name. Example: `Planet`'
          schema:
            type: string
        -
          name: 'filter[rarity]'
          in: query
          description: 'Commodity tier/rarity level, lowercase. Example: `epic`'
          schema:
            type: string
        -
          name: 'filter[kind]'
          in: query
          description: 'Resource kind. Example: `mineable`'
          schema:
            type: string
        -
          name: 'filter[group]'
          in: query
          description: 'Commodity group name. Comma-separated for multiple. Example: `ProcessedGoods,Food`'
          schema:
            type: string
        -
          name: 'filter[refined_version]'
          in: query
          description: 'Refined version name. Example: `Agricium`'
          schema:
            type: string
        -
          name: 'filter[location]'
          in: query
          description: 'Partial match on starmap location name. Example: `ArcCorp`'
          schema:
            type: string
        -
          name: 'filter[query]'
          in: query
          description: 'Search commodities by name or key. Example: `Agricium`'
          schema:
            type: string
        -
          name: 'filter[ship]'
          in: query
          description: 'When true, only show commodities mineable by ships. Example: `true`'
          schema:
            type: boolean
        -
          name: 'filter[ground_vehicle]'
          in: query
          description: 'When true, only show commodities mineable by ground vehicles. Example: `true`'
          schema:
            type: boolean
        -
          name: 'filter[fps]'
          in: query
          description: 'When true, only show commodities mineable on foot (FPS). Example: `true`'
          schema:
            type: boolean
        -
          name: 'filter[harvestable]'
          in: query
          description: 'When true, only show commodities collectible from harvestable or plant deposits. Example: `true`'
          schema:
            type: boolean
        -
          name: 'filter[salvage]'
          in: query
          description: 'When true, only show commodities obtainable through salvage. Example: `false`'
          schema:
            type: boolean
        -
          name: 'filter[mineable]'
          in: query
          description: 'When true, only show mineable commodities; when false, only show non-mineable. Example: `true`'
          schema:
            type: boolean
      responses:
        '200':
          description: 'Available filters for game commodities.'
          content:
            application/json:
              schema:
                properties:
                  filters: { properties: { system: { description: 'Star systems where commodities can be found', type: array, items: { $ref: '#/components/schemas/filter_value' } }, type: { description: 'Location type names', type: array, items: { $ref: '#/components/schemas/filter_value' } }, rarity: { description: 'Commodity tier/rarity levels', type: array, items: { $ref: '#/components/schemas/filter_value' } }, kind: { description: 'Resource kinds', type: array, items: { $ref: '#/components/schemas/filter_value' } }, refined_version: { description: 'Refined version names', type: array, items: { $ref: '#/components/schemas/filter_value' } }, group: { description: 'Commodity groups', type: array, items: { $ref: '#/components/schemas/filter_value' } }, location: { description: 'Starmap locations grouped by system', type: array, items: { $ref: '#/components/schemas/filter_value' } } }, type: object }
                type: object
  /api/factions:
    get:
      tags:
        - Factions
      summary: 'List Factions'
      description: 'Returns paginated factions sorted by name by default. Factions hidden from the Delphi app are excluded.'
      operationId: listFactions
      parameters:
        -
          $ref: '#/components/parameters/page'
        -
          $ref: '#/components/parameters/page_number'
        -
          $ref: '#/components/parameters/page_size'
        -
          name: 'filter[faction_type]'
          in: query
          description: 'Category of faction. Example: `Lawful`'
          schema:
            type: string
        -
          name: 'filter[has_reputation]'
          in: query
          description: 'When true, only factions with a reputation system are returned. Example: `true`'
          schema:
            type: boolean
        -
          name: 'filter[lawful]'
          in: query
          description: 'When true, only lawful factions are returned. Example: `true`'
          schema:
            type: boolean
        -
          name: 'filter[is_npc]'
          in: query
          description: 'When true, only NPC-controlled factions are returned. Example: `false`'
          schema:
            type: boolean
        -
          name: 'filter[hide_in_delphi_app]'
          in: query
          description: 'When true, only factions hidden from the Delphi app are returned. Note: the index endpoint excludes hidden factions by default. Example: `false`'
          schema:
            type: boolean
        -
          name: 'filter[query]'
          in: query
          description: 'Search factions by name or description. Example: `ArcCorp`'
          schema:
            type: string
        -
          name: sort
          in: query
          description: 'Sort field. Prefix with "-" for descending. Supported: name, faction_type.'
          schema:
            type: string
            example: '-name'
      responses:
        '200':
          description: 'List of factions'
          content:
            application/json:
              schema:
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/faction_index' } }
                  links: { $ref: '#/components/schemas/pagination_links' }
                  meta: { $ref: '#/components/schemas/pagination_meta' }
                type: object
  '/api/factions/{faction}':
    get:
      tags:
        - Factions
      summary: 'Get Faction Detail'
      description: 'Returns full details for a single faction, including reputation ladder with standings when the faction has a reputation system. Factions hidden from the Delphi app are excluded.'
      operationId: getFaction
      parameters:
        -
          name: faction
          in: path
          required: true
          schema:
            description: 'Faction UUID.'
            type: string
            format: uuid
            example: 4e429470-4d4e-4c2b-a4ac-4de42ada16e0
      responses:
        '200':
          description: 'Faction detail'
          content:
            application/json:
              schema:
                properties:
                  data: { $ref: '#/components/schemas/faction' }
                type: object
        '404':
          description: 'Faction not found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not_found_error_response'
  /api/game-versions:
    get:
      tags:
        - 'Game Versions'
      summary: 'List Game Versions'
      description: 'Returns paginated game versions sorted by release date (newest first by default). Useful for discovering available game versions for version-scoped API queries.'
      operationId: listGameVersions
      parameters:
        -
          $ref: '#/components/parameters/page'
        -
          $ref: '#/components/parameters/page_number'
        -
          $ref: '#/components/parameters/page_size'
        -
          name: 'filter[code]'
          in: query
          description: 'Filter by exact version code. Example: `4.8.0-LIVE.11825000`'
          schema:
            type: string
        -
          name: 'filter[channel]'
          in: query
          description: 'Filter by release channel (live, ptu, eptu), lowercase. Example: `live`'
          schema:
            type: string
        -
          name: 'filter[is_default]'
          in: query
          description: 'Filter by default status. Example: `1`'
          schema:
            type: integer
        -
          name: sort
          in: query
          description: 'Sort by field. Prefix with - for descending. Supported: code, channel, released_at.'
          schema:
            type: string
            example: '-released_at'
      responses:
        '200':
          description: 'Paginated list of Game Versions'
          content:
            application/json:
              schema:
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/game_version' } }
                  links: { allOf: [{ $ref: '#/components/schemas/pagination_links' }] }
                  meta: { allOf: [{ $ref: '#/components/schemas/pagination_meta' }] }
                type: object
  /api/game-versions/default:
    get:
      tags:
        - 'Game Versions'
      summary: 'Get Default Game Version'
      description: 'Returns the current default game version. This is the version used by default in version-scoped API queries (see the version query parameter on other endpoints).'
      operationId: getDefaultGameVersion
      responses:
        '200':
          description: 'The default game version'
          content:
            application/json:
              schema:
                properties:
                  data: { $ref: '#/components/schemas/game_version' }
                type: object
              examples:
                default_game_version:
                  summary: 'Current default version'
                  value: { data: { code: 4.8.0-LIVE.11825000, channel: live, is_default: true } }
        '404':
          description: 'No default version found.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not_found_error_response'
  '/api/game-versions/{identifier}':
    get:
      tags:
        - 'Game Versions'
      summary: 'Get Game Version'
      description: 'Retrieve a specific game version by its code (case-insensitive). Game versions are used to scope version-aware data endpoints via the `version` query parameter.'
      operationId: getGameVersion
      parameters:
        -
          name: identifier
          in: path
          description: 'Game version code (case-insensitive).'
          required: true
          schema:
            type: string
            example: 4.8.0-LIVE.11825000
      responses:
        '200':
          description: 'A game version'
          content:
            application/json:
              schema:
                properties:
                  data: { $ref: '#/components/schemas/game_version' }
                type: object
        '404':
          description: 'Game version not found.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not_found_error_response'
  /api/weapons:
    get:
      tags:
        - Items
      summary: 'In-Game Weapons Overview'
      description: 'Alias for /api/items scoped to FPS weapons (WeaponPersonal type). Results are scoped to the requested or default game version. Returns weapon items with manufacturer, game version, and description data.'
      operationId: listWeapons
      parameters:
        -
          $ref: '#/components/parameters/page'
        -
          $ref: '#/components/parameters/page_number'
        -
          $ref: '#/components/parameters/page_size'
        -
          $ref: '#/components/parameters/include'
        -
          $ref: '#/components/parameters/version'
        -
          $ref: '#/components/parameters/sort'
        -
          name: 'filter[manufacturer]'
          in: query
          description: 'Manufacturer name or code. Accepts comma-separated values for OR matching. (see GET /api/items/filters for valid values). Example: `Klaus & Werner`'
          schema:
            type: string
        -
          name: 'filter[class_name]'
          in: query
          description: 'Partial match on item class name. Example: `behr_sniper_ballistic_01`'
          schema:
            type: string
        -
          name: 'filter[name]'
          in: query
          description: 'Partial match on item display name. Example: `Arrow`'
          schema:
            type: string
        -
          name: 'filter[query]'
          in: query
          description: 'Search items by name or class name. Example: `Arrow`'
          schema:
            type: string
        -
          name: 'filter[size]'
          in: query
          description: 'Exact item size (0-12). Example: `3`'
          schema:
            type: number
        -
          name: 'filter[grade]'
          in: query
          description: 'Exact item grade (1-7, mapped to A-G). Example: `1`'
          schema:
            type: number
        -
          name: 'filter[include_irrelevant]'
          in: query
          description: 'When set to true, includes items flagged as not player-relevant (test, placeholder, dev items). Default shows only relevant items.'
          schema:
            type: boolean
      responses:
        '200':
          description: 'List of Weapons'
          content:
            application/json:
              schema:
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/game_item' } }
                  links: { $ref: '#/components/schemas/pagination_links' }
                  meta: { $ref: '#/components/schemas/pagination_meta' }
                type: object
  /api/weapon-attachments:
    get:
      tags:
        - Items
      summary: 'In-Game Weapon Attachments Overview'
      description: 'Alias for /api/items scoped to weapon attachments (WeaponAttachment type, excluding magazines and missiles). Results are scoped to the requested or default game version. Returns attachment items with manufacturer, game version, and description data.'
      operationId: listWeaponAttachments
      parameters:
        -
          $ref: '#/components/parameters/page'
        -
          $ref: '#/components/parameters/page_number'
        -
          $ref: '#/components/parameters/page_size'
        -
          $ref: '#/components/parameters/include'
        -
          $ref: '#/components/parameters/version'
        -
          $ref: '#/components/parameters/sort'
        -
          name: 'filter[manufacturer]'
          in: query
          description: 'Manufacturer name or code. Accepts comma-separated values for OR matching. (see GET /api/items/filters for valid values). Example: `ArmaMod`'
          schema:
            type: string
        -
          name: 'filter[name]'
          in: query
          description: 'Partial match on item display name. Example: `Quell Suppressor2`'
          schema:
            type: string
        -
          name: 'filter[query]'
          in: query
          description: 'Search items by name or class name. Example: `Quell Suppressor2`'
          schema:
            type: string
        -
          name: 'filter[size]'
          in: query
          description: 'Exact item size (0-12). Example: `1`'
          schema:
            type: number
        -
          name: 'filter[include_irrelevant]'
          in: query
          description: 'When set to true, includes items flagged as not player-relevant (test, placeholder, dev items). Default shows only relevant items.'
          schema:
            type: boolean
      responses:
        '200':
          description: 'List of Weapon Attachments'
          content:
            application/json:
              schema:
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/game_item' } }
                  links: { $ref: '#/components/schemas/pagination_links' }
                  meta: { $ref: '#/components/schemas/pagination_meta' }
                type: object
  /api/clothes:
    get:
      tags:
        - Items
      summary: 'In-Game Clothes Overview'
      description: 'Alias for /api/items scoped to clothing (FPS.Clothing.* classification). Results are scoped to the requested or default game version. Returns clothing items with manufacturer, game version, and description data.'
      operationId: listClothes
      parameters:
        -
          $ref: '#/components/parameters/page'
        -
          $ref: '#/components/parameters/page_number'
        -
          $ref: '#/components/parameters/page_size'
        -
          $ref: '#/components/parameters/include'
        -
          $ref: '#/components/parameters/version'
        -
          $ref: '#/components/parameters/sort'
        -
          name: 'filter[manufacturer]'
          in: query
          description: 'Manufacturer name or code. Accepts comma-separated values for OR matching. (see GET /api/items/filters for valid values). Example: `Fiore`'
          schema:
            type: string
        -
          name: 'filter[name]'
          in: query
          description: 'Partial match on item display name. Example: `Jacket`'
          schema:
            type: string
        -
          name: 'filter[classification]'
          in: query
          description: 'Partial match on item classification (dot-notation, e.g. FPS.Clothing). (see GET /api/items/filters for valid values). Example: `FPS.Clothing.Torso`'
          schema:
            type: string
        -
          name: 'filter[query]'
          in: query
          description: 'Search items by name or class name. Example: `Jacket`'
          schema:
            type: string
        -
          name: 'filter[include_irrelevant]'
          in: query
          description: 'When set to true, includes items flagged as not player-relevant (test, placeholder, dev items). Default shows only relevant items.'
          schema:
            type: boolean
      responses:
        '200':
          description: 'List of Clothes'
          content:
            application/json:
              schema:
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/game_item' } }
                  links: { $ref: '#/components/schemas/pagination_links' }
                  meta: { $ref: '#/components/schemas/pagination_meta' }
                type: object
  /api/armor:
    get:
      tags:
        - Items
      summary: 'In-Game Armor Overview'
      description: 'Alias for /api/items scoped to armor (FPS.Armor.* classification). Results are scoped to the requested or default game version. Returns armor items with manufacturer, game version, and description data.'
      operationId: listArmor
      parameters:
        -
          $ref: '#/components/parameters/page'
        -
          $ref: '#/components/parameters/page_number'
        -
          $ref: '#/components/parameters/page_size'
        -
          $ref: '#/components/parameters/include'
        -
          $ref: '#/components/parameters/version'
        -
          $ref: '#/components/parameters/sort'
        -
          name: 'filter[manufacturer]'
          in: query
          description: 'Manufacturer name or code. Accepts comma-separated values for OR matching. (see GET /api/items/filters for valid values). Example: `Clark Defense Systems`'
          schema:
            type: string
        -
          name: 'filter[name]'
          in: query
          description: 'Partial match on item display name. Example: `Core`'
          schema:
            type: string
        -
          name: 'filter[classification]'
          in: query
          description: 'Partial match on item classification (dot-notation, e.g. FPS.Armor). (see GET /api/items/filters for valid values). Example: `FPS.Armor.Torso`'
          schema:
            type: string
        -
          name: 'filter[query]'
          in: query
          description: 'Search items by name or class name. Example: `Core`'
          schema:
            type: string
        -
          name: 'filter[include_irrelevant]'
          in: query
          description: 'When set to true, includes items flagged as not player-relevant (test, placeholder, dev items). Default shows only relevant items.'
          schema:
            type: boolean
      responses:
        '200':
          description: 'List of Armor'
          content:
            application/json:
              schema:
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/game_item' } }
                  links: { $ref: '#/components/schemas/pagination_links' }
                  meta: { $ref: '#/components/schemas/pagination_meta' }
                type: object
  /api/food:
    get:
      tags:
        - Items
      summary: 'In-Game Food Overview'
      description: 'Alias for /api/items scoped to food and drink (Food, Bottle, Drink types). Results are scoped to the requested or default game version. Returns consumable items with manufacturer, game version, and description data.'
      operationId: listFood
      parameters:
        -
          $ref: '#/components/parameters/page'
        -
          $ref: '#/components/parameters/page_number'
        -
          $ref: '#/components/parameters/page_size'
        -
          $ref: '#/components/parameters/include'
        -
          $ref: '#/components/parameters/version'
        -
          $ref: '#/components/parameters/sort'
        -
          name: 'filter[manufacturer]'
          in: query
          description: 'Manufacturer name or code. Accepts comma-separated values for OR matching. (see GET /api/items/filters for valid values). Example: `Consumable`'
          schema:
            type: string
        -
          name: 'filter[name]'
          in: query
          description: 'Partial match on item display name. Example: `Burger`'
          schema:
            type: string
        -
          name: 'filter[query]'
          in: query
          description: 'Search items by name or class name. Example: `Burger`'
          schema:
            type: string
        -
          name: 'filter[include_irrelevant]'
          in: query
          description: 'When set to true, includes items flagged as not player-relevant (test, placeholder, dev items). Default shows only relevant items.'
          schema:
            type: boolean
      responses:
        '200':
          description: 'List of Food Items'
          content:
            application/json:
              schema:
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/game_item' } }
                  links: { $ref: '#/components/schemas/pagination_links' }
                  meta: { $ref: '#/components/schemas/pagination_meta' }
                type: object
  /api/vehicle-weapons:
    get:
      tags:
        - Items
      summary: 'In-Game Vehicle Weapons Overview'
      description: 'Alias for /api/items scoped to vehicle weapons (WeaponGun type). Results are scoped to the requested or default game version. Returns ship weapon items with manufacturer, game version, and description data.'
      operationId: listVehicleWeapons
      parameters:
        -
          $ref: '#/components/parameters/page'
        -
          $ref: '#/components/parameters/page_number'
        -
          $ref: '#/components/parameters/page_size'
        -
          $ref: '#/components/parameters/include'
        -
          $ref: '#/components/parameters/version'
        -
          $ref: '#/components/parameters/sort'
        -
          name: 'filter[manufacturer]'
          in: query
          description: 'Manufacturer name or code. Accepts comma-separated values for OR matching. (see GET /api/items/filters for valid values). Example: `KnightBridge Arms`'
          schema:
            type: string
        -
          name: 'filter[name]'
          in: query
          description: 'Partial match on item display name. Example: `Cannon`'
          schema:
            type: string
        -
          name: 'filter[query]'
          in: query
          description: 'Search items by name or class name. Example: `Cannon`'
          schema:
            type: string
        -
          name: 'filter[size]'
          in: query
          description: 'Exact item size (0-12). Example: `3`'
          schema:
            type: number
        -
          name: 'filter[include_irrelevant]'
          in: query
          description: 'When set to true, includes items flagged as not player-relevant (test, placeholder, dev items). Default shows only relevant items.'
          schema:
            type: boolean
      responses:
        '200':
          description: 'List of Vehicle Weapons'
          content:
            application/json:
              schema:
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/game_item' } }
                  links: { $ref: '#/components/schemas/pagination_links' }
                  meta: { $ref: '#/components/schemas/pagination_meta' }
                type: object
  /api/vehicle-items:
    get:
      tags:
        - Items
      summary: 'In-Game Vehicle Items Overview'
      description: 'Alias for /api/items scoped to vehicle components (coolers, shields, power plants, quantum drives, thrusters, etc.). Results are scoped to the requested or default game version. Returns component items with manufacturer, game version, and description data.'
      operationId: listVehicleItems
      parameters:
        -
          $ref: '#/components/parameters/page'
        -
          $ref: '#/components/parameters/page_number'
        -
          $ref: '#/components/parameters/page_size'
        -
          $ref: '#/components/parameters/include'
        -
          $ref: '#/components/parameters/version'
        -
          $ref: '#/components/parameters/sort'
        -
          name: 'filter[manufacturer]'
          in: query
          description: 'Manufacturer name or code. Accepts comma-separated values for OR matching. (see GET /api/items/filters for valid values). Example: `Aegis Dynamics`'
          schema:
            type: string
        -
          name: 'filter[name]'
          in: query
          description: 'Partial match on item display name. Example: `Shield`'
          schema:
            type: string
        -
          name: 'filter[type]'
          in: query
          description: 'Exact match on item type. Accepts comma-separated values for OR matching. (see GET /api/items/filters for valid values). Example: `Cooler`'
          schema:
            type: string
        -
          name: 'filter[sub_type]'
          in: query
          description: 'Exact match on item sub-type. Accepts comma-separated values for OR matching. (see GET /api/items/filters for valid values). Example: `Default`'
          schema:
            type: string
        -
          name: 'filter[query]'
          in: query
          description: 'Search items by name or class name. Example: `Shield`'
          schema:
            type: string
        -
          name: 'filter[include_irrelevant]'
          in: query
          description: 'When set to true, includes items flagged as not player-relevant (test, placeholder, dev items). Default shows only relevant items.'
          schema:
            type: boolean
      responses:
        '200':
          description: 'List of Vehicle Items'
          content:
            application/json:
              schema:
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/game_item' } }
                  links: { $ref: '#/components/schemas/pagination_links' }
                  meta: { $ref: '#/components/schemas/pagination_meta' }
                type: object
  /api/items:
    get:
      tags:
        - Items
      summary: 'In-Game Item Overview'
      description: 'Returns paginated in-game items for the requested category and game version. Always includes manufacturer, game version, and description data. Crafting blueprints are loaded automatically. Supports filtering by type, classification, manufacturer, size, grade, and more. Available includes: shops, variants, related_items, blueprints, vehicles, shops.items. Supports 150+ JSON field sorts. (see GET /api/items/filters for valid filter values)'
      operationId: listItems
      parameters:
        -
          $ref: '#/components/parameters/page'
        -
          $ref: '#/components/parameters/page_number'
        -
          $ref: '#/components/parameters/page_size'
        -
          $ref: '#/components/parameters/include'
        -
          $ref: '#/components/parameters/version'
        -
          name: sort
          in: query
          description: 'Sort field. Prefix with "-" for descending. Supports 250+ JSON fields. Examples: name, -grade, weapon.damage.alpha_total, -shield_controller.face_type. Use comma for multiple: grade,-name'
          schema:
            type: string
            example: '-weapon.damage.alpha_total'
        -
          name: 'filter[variants]'
          in: query
          description: 'When false, excludes variant items (base_id IS NOT NULL) and returns only base items. When true or omitted, returns all items including variants.'
          schema:
            type: boolean
        -
          name: 'filter[category]'
          in: query
          description: 'Item category to scope results. Accepts: weapons, weapon-attachments, clothes, armor, food, medical, mining-modifiers, fps-items, vehicle-weapons, vehicle-items, vehicle-flair-items, vehicle-components. Example: `weapons`'
          schema:
            type: string
        -
          name: 'filter[type]'
          in: query
          description: 'Exact match on item type. Accepts comma-separated values for OR matching. (see GET /api/items/filters for valid values). Example: `WeaponPersonal`'
          schema:
            type: string
        -
          name: 'filter[sub_type]'
          in: query
          description: 'Exact match on item sub-type. Accepts comma-separated values for OR matching. (see GET /api/items/filters for valid values). Example: `Barrel`'
          schema:
            type: string
        -
          name: 'filter[manufacturer]'
          in: query
          description: 'Manufacturer name or code. Accepts comma-separated values for OR matching. (see GET /api/items/filters for valid values). Example: `KnightBridge Arms`'
          schema:
            type: string
        -
          name: 'filter[manufacturer.name]'
          in: query
          description: 'Same as filter[manufacturer]. Accepts comma-separated values for OR matching. Example: `Anvil Aerospace`'
          schema:
            type: string
        -
          name: 'filter[class_name]'
          in: query
          description: 'Partial match on item class name. Example: `Controller_Comms`'
          schema:
            type: string
        -
          name: 'filter[name]'
          in: query
          description: 'Partial match on item display name. Example: `Arrow`'
          schema:
            type: string
        -
          name: 'filter[query]'
          in: query
          description: 'Search items by name or class name. Example: `helmet`'
          schema:
            type: string
        -
          name: 'filter[classification]'
          in: query
          description: 'Partial match on item classification (dot-notation, e.g. FPS.Armor). (see GET /api/items/filters for valid values). Example: `FPS.Armor.Torso`'
          schema:
            type: string
        -
          name: 'filter[size]'
          in: query
          description: 'Exact item size (0-12). Example: `3`'
          schema:
            type: number
        -
          name: 'filter[grade]'
          in: query
          description: 'Exact item grade (1-7, mapped to A-G). Example: `3`'
          schema:
            type: number
        -
          name: 'filter[class]'
          in: query
          description: 'Exact match on item class. Accepts comma-separated values for OR matching. (see GET /api/items/filters for valid values). Example: `Military`'
          schema:
            type: string
        -
          name: 'filter[rarity]'
          in: query
          description: 'Item rarity. Accepts comma-separated values for OR matching. (see GET /api/items/filters for valid values). Example: `Rare`'
          schema:
            type: string
        -
          name: 'filter[event_source]'
          in: query
          description: 'Event or reward source label. Accepts comma-separated values for OR matching. (see GET /api/items/filters for valid values). Example: `IAE`'
          schema:
            type: string
        -
          name: 'filter[include_irrelevant]'
          in: query
          description: 'When set to true, includes items flagged as not player-relevant (test, placeholder, dev items). Default shows only relevant items.'
          schema:
            type: boolean
        -
          name: 'filter[tags]'
          in: query
          description: 'Filter by stdItem.RequiredTags array values. Use when a port has required_tags - matches items whose RequiredTags contain ALL specified values. Accepts comma-separated tags for AND matching. Example: `MISC_Fury_Miru`'
          schema:
            type: string
        -
          name: 'filter[port_tags]'
          in: query
          description: "Filter items by RequiredTags compatibility with a port's tags. Accepts comma-separated port tag values. Returns items where any of their RequiredTags appear in the provided tags, OR items with no RequiredTags but whose Tags overlap with the provided tags (e.g. older paint system). Items with no RequiredTags and no overlapping Tags are excluded. Pass the port_tags value from a vehicle hardpoint port. Example: `flight_ready,Ship_Dock_Refuel`"
          schema:
            type: string
        -
          name: 'filter[vehicle]'
          in: query
          description: "Scope items to a specific vehicle. Accepts one or more vehicle identity tags (from the vehicle's port_tags field). Returns: (1) universal items with no RequiredTags and not bespoke, (2) bespoke items whose RequiredTags match any provided tag, (3) bespoke items whose bespoke_vehicle_tags match any provided tag. Use on vehicle pages to show only items equippable on that vehicle. Example: `AEGS_Avenger_Base`"
          schema:
            type: string
      responses:
        '200':
          description: 'List of Items'
          content:
            application/json:
              schema:
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/game_item' } }
                  links: { $ref: '#/components/schemas/pagination_links' }
                  meta: { $ref: '#/components/schemas/pagination_meta' }
                type: object
              examples:
                item_search_page:
                  summary: 'Search items by text'
                  value: { data: [{ uuid: 00000000-0000-0000-0000-000000000000, name: 'Flight Helmet', slug: flight-helmet }], links: { first: 'https://api.star-citizen.wiki/api/items?page[number]=1', last: null, prev: null, next: null }, meta: { current_page: 1, per_page: 30, total: 1 } }
  '/api/weapons/{identifier}':
    get:
      tags:
        - Items
      summary: 'In-Game Weapon Detail'
      description: 'Retrieve a specific FPS weapon by name or UUID. Results are scoped to the requested or default game version. Alias for /api/items/{identifier} scoped to weapons. Supports includes: shops, variants, related_items, blueprints, vehicles, shops.items.'
      operationId: getWeapon
      parameters:
        -
          name: identifier
          in: path
          required: true
          schema:
            description: 'Item name or UUID'
            type: string
            example: 'Scourge Railgun'
        -
          $ref: '#/components/parameters/locale'
        -
          $ref: '#/components/parameters/include'
        -
          $ref: '#/components/parameters/version'
      responses:
        '200':
          description: 'A Weapon'
          content:
            application/json:
              schema:
                properties:
                  data: { $ref: '#/components/schemas/game_item' }
                type: object
        '404':
          description: 'Weapon not found.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not_found_error_response'
  '/api/weapon-attachments/{identifier}':
    get:
      tags:
        - Items
      summary: 'In-Game Weapon Attachment Detail'
      description: 'Retrieve a specific weapon attachment by name or UUID. Results are scoped to the requested or default game version. Alias for /api/items/{identifier} scoped to weapon attachments. Supports includes: shops, variants, related_items, blueprints, vehicles, shops.items.'
      operationId: getWeaponAttachment
      parameters:
        -
          name: identifier
          in: path
          required: true
          schema:
            description: 'Item name or UUID'
            type: string
            example: 'Quell Suppressor2'
        -
          $ref: '#/components/parameters/locale'
        -
          $ref: '#/components/parameters/include'
        -
          $ref: '#/components/parameters/version'
      responses:
        '200':
          description: 'A Weapon Attachment'
          content:
            application/json:
              schema:
                properties:
                  data: { $ref: '#/components/schemas/game_item' }
                type: object
        '404':
          description: 'Weapon attachment not found.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not_found_error_response'
  '/api/clothes/{identifier}':
    get:
      tags:
        - Items
      summary: 'In-Game Clothing Detail'
      description: 'Retrieve a specific clothing item by name or UUID. Results are scoped to the requested or default game version. Alias for /api/items/{identifier} scoped to clothing. Supports includes: shops, variants, related_items, blueprints, vehicles, shops.items.'
      operationId: getClothingItem
      parameters:
        -
          name: identifier
          in: path
          required: true
          schema:
            description: 'Item name or UUID'
            type: string
            example: 'Burgundy Paisley Bandana'
        -
          $ref: '#/components/parameters/locale'
        -
          $ref: '#/components/parameters/include'
        -
          $ref: '#/components/parameters/version'
      responses:
        '200':
          description: 'A Clothing Item'
          content:
            application/json:
              schema:
                properties:
                  data: { $ref: '#/components/schemas/game_item' }
                type: object
        '404':
          description: 'Clothing item not found.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not_found_error_response'
  '/api/armor/{identifier}':
    get:
      tags:
        - Items
      summary: 'In-Game Armor Detail'
      description: 'Retrieve a specific armor item by name or UUID. Results are scoped to the requested or default game version. Alias for /api/items/{identifier} scoped to armor. Supports includes: shops, variants, related_items, blueprints, vehicles, shops.items.'
      operationId: getArmor
      parameters:
        -
          name: identifier
          in: path
          required: true
          schema:
            description: 'Item name or UUID'
            type: string
            example: 'Ace Interceptor Helmet'
        -
          $ref: '#/components/parameters/locale'
        -
          $ref: '#/components/parameters/include'
        -
          $ref: '#/components/parameters/version'
      responses:
        '200':
          description: 'An Armor Item'
          content:
            application/json:
              schema:
                properties:
                  data: { $ref: '#/components/schemas/game_item' }
                type: object
        '404':
          description: 'Armor item not found.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not_found_error_response'
  '/api/food/{identifier}':
    get:
      tags:
        - Items
      summary: 'In-Game Food Detail'
      description: 'Retrieve a specific food or drink item by name or UUID. Results are scoped to the requested or default game version. Alias for /api/items/{identifier} scoped to food. Supports includes: shops, variants, related_items, blueprints, vehicles, shops.items.'
      operationId: getFood
      parameters:
        -
          name: identifier
          in: path
          required: true
          schema:
            description: 'Item name or UUID'
            type: string
            example: Whamburger
        -
          $ref: '#/components/parameters/locale'
        -
          $ref: '#/components/parameters/include'
        -
          $ref: '#/components/parameters/version'
      responses:
        '200':
          description: 'A Food Item'
          content:
            application/json:
              schema:
                properties:
                  data: { $ref: '#/components/schemas/game_item' }
                type: object
        '404':
          description: 'Food item not found.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not_found_error_response'
  '/api/vehicle-weapons/{identifier}':
    get:
      tags:
        - Items
      summary: 'In-Game Vehicle Weapon Detail'
      description: 'Retrieve a specific vehicle weapon by name or UUID. Results are scoped to the requested or default game version. Alias for /api/items/{identifier} scoped to vehicle weapons. Supports includes: shops, variants, related_items, blueprints, vehicles, shops.items.'
      operationId: getVehicleWeapon
      parameters:
        -
          name: identifier
          in: path
          required: true
          schema:
            description: 'Item name or UUID'
            type: string
            example: 'Predator Scattergun'
        -
          $ref: '#/components/parameters/locale'
        -
          $ref: '#/components/parameters/include'
        -
          $ref: '#/components/parameters/version'
      responses:
        '200':
          description: 'A Vehicle Weapon'
          content:
            application/json:
              schema:
                properties:
                  data: { $ref: '#/components/schemas/game_item' }
                type: object
        '404':
          description: 'Vehicle weapon not found.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not_found_error_response'
  '/api/vehicle-items/{identifier}':
    get:
      tags:
        - Items
      summary: 'In-Game Vehicle Item Detail'
      description: 'Retrieve a specific vehicle component by name or UUID. Results are scoped to the requested or default game version. Alias for /api/items/{identifier} scoped to vehicle items. Supports includes: shops, variants, related_items, blueprints, vehicles, shops.items.'
      operationId: getVehicleItem
      parameters:
        -
          name: identifier
          in: path
          required: true
          schema:
            description: 'Item name or UUID'
            type: string
            example: Frost-Star
        -
          $ref: '#/components/parameters/locale'
        -
          $ref: '#/components/parameters/include'
        -
          $ref: '#/components/parameters/version'
      responses:
        '200':
          description: 'A Vehicle Item'
          content:
            application/json:
              schema:
                properties:
                  data: { $ref: '#/components/schemas/game_item' }
                type: object
        '404':
          description: 'Vehicle item not found.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not_found_error_response'
  '/api/items/{identifier}':
    get:
      tags:
        - Items
      summary: 'In-Game Item Detail'
      description: 'Retrieve a specific item by UUID, slug, name, or class name (case-insensitive). Results are scoped to the requested or default game version. Always includes manufacturer, game version, description data, entity tags, commodities, and variant group data. Supports includes: shops, variants, related_items, blueprints, vehicles, shops.items. Items with a matching vehicle record automatically redirect to GET /api/vehicles/{uuid}.'
      operationId: getItem
      parameters:
        -
          $ref: '#/components/parameters/locale'
        -
          name: include
          in: query
          description: 'Comma-separated relationships to include. Available: blueprints (full crafting blueprint data including ingredients, missions, tiers), variants (item variants), related_items (related items from variant groups and sets), vehicles (vehicles this item is installed on), shops (shop availability data), shops.items (shop items).'
          schema:
            type: string
            example: blueprints
        -
          $ref: '#/components/parameters/version'
        -
          name: identifier
          in: path
          required: true
          schema:
            description: 'Item name, slug, class name, or UUID'
            type: string
            example: 'Scourge Railgun'
      responses:
        '200':
          description: 'An Item'
          content:
            application/json:
              schema:
                properties:
                  data: { $ref: '#/components/schemas/game_item' }
                type: object
        '404':
          description: 'Item not found.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not_found_error_response'
  /api/items/search:
    post:
      tags:
        - Items
        - Search
      summary: 'In-Game Item Search (Deprecated)'
      description: 'Deprecated. Use GET /api/items?filter[name]={value} for name search. Note: OR search across name/uuid/type is no longer supported. This endpoint will be removed in a future version.'
      operationId: searchItemsDeprecated
      parameters:
        -
          $ref: '#/components/parameters/page'
        -
          $ref: '#/components/parameters/page_number'
        -
          $ref: '#/components/parameters/page_size'
        -
          $ref: '#/components/parameters/locale'
        -
          $ref: '#/components/parameters/include'
        -
          $ref: '#/components/parameters/sort'
        -
          name: 'filter[variants]'
          in: query
          description: 'When false, excludes variant items and returns only base items. When true or omitted, returns all items.'
          schema:
            type: boolean
        -
          name: 'filter[category]'
          in: query
          description: 'Item category to scope results. Accepts: weapons, weapon-attachments, clothes, armor, food, medical, mining-modifiers, fps-items, vehicle-weapons, vehicle-items, vehicle-flair-items, vehicle-components. Example: `weapons`'
          schema:
            type: string
        -
          name: 'filter[type]'
          in: query
          description: 'Exact match on item type. Accepts comma-separated values for OR matching. (see GET /api/items/filters for valid values). Example: `WeaponPersonal`'
          schema:
            type: string
        -
          name: 'filter[sub_type]'
          in: query
          description: 'Exact match on item sub-type. Accepts comma-separated values for OR matching. (see GET /api/items/filters for valid values). Example: `Barrel`'
          schema:
            type: string
        -
          name: 'filter[manufacturer]'
          in: query
          description: 'Manufacturer name or code. Accepts comma-separated values for OR matching. (see GET /api/items/filters for valid values). Example: `KnightBridge Arms`'
          schema:
            type: string
        -
          name: 'filter[manufacturer.name]'
          in: query
          description: 'Same as filter[manufacturer]. Accepts comma-separated values for OR matching. Example: `Anvil Aerospace`'
          schema:
            type: string
        -
          name: 'filter[class_name]'
          in: query
          description: 'Partial match on item class name. Example: `MGA_Assault`'
          schema:
            type: string
        -
          name: 'filter[name]'
          in: query
          description: 'Partial match on item display name. Example: `Arrow`'
          schema:
            type: string
        -
          name: 'filter[classification]'
          in: query
          description: 'Partial match on item classification (dot-notation, e.g. FPS.Armor). (see GET /api/items/filters for valid values). Example: `FPS.Armor.Torso`'
          schema:
            type: string
        -
          name: 'filter[size]'
          in: query
          description: 'Exact item size (0-12). Example: `3`'
          schema:
            type: number
        -
          name: 'filter[grade]'
          in: query
          description: 'Exact item grade (1-7, mapped to A-G). Example: `3`'
          schema:
            type: number
        -
          name: 'filter[class]'
          in: query
          description: 'Exact match on item class. Accepts comma-separated values for OR matching. (see GET /api/items/filters for valid values). Example: `Military`'
          schema:
            type: string
        -
          name: 'filter[include_irrelevant]'
          in: query
          description: 'When set to true, includes items flagged as not player-relevant (test, placeholder, dev items). Default shows only relevant items.'
          schema:
            type: boolean
      requestBody:
        description: 'Item Name or (sub)type'
        required: true
        content:
          application/json:
            schema:
              type: object
            example: '{"query": "Arrow"}'
      responses:
        '200':
          description: 'A List of matching Items'
          content:
            application/json:
              schema:
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/game_item' } }
                  links: { $ref: '#/components/schemas/pagination_links' }
                  meta: { $ref: '#/components/schemas/pagination_meta' }
                type: object
      deprecated: true
  /api/items/filters:
    get:
      tags:
        - Items
      summary: 'In-Game Item Filters'
      description: 'Returns available filter facet values for in-game items, grouped by field with occurrence counts. Applying other filters narrows the facet results. Use these values as filter[*] parameters on GET /api/items. Scoped to the default item category unless filter[category] is specified.'
      operationId: listItemFilters
      parameters:
        -
          $ref: '#/components/parameters/version'
        -
          name: 'filter[variants]'
          in: query
          description: 'When false, facets are computed excluding variant items. When true or omitted, all items are included.'
          schema:
            type: boolean
        -
          name: 'filter[category]'
          in: query
          description: 'Item category to scope facets. Accepts: weapons, weapon-attachments, clothes, armor, food, medical, mining-modifiers, fps-items, vehicle-weapons, vehicle-items, vehicle-flair-items, vehicle-components. Example: `weapons`'
          schema:
            type: string
        -
          name: 'filter[type]'
          in: query
          description: 'Narrow facets to items matching this type. Example: `WeaponPersonal`'
          schema:
            type: string
        -
          name: 'filter[sub_type]'
          in: query
          description: 'Narrow facets to items matching this sub-type. Example: `Barrel`'
          schema:
            type: string
        -
          name: 'filter[manufacturer]'
          in: query
          description: 'Narrow facets to items from this manufacturer. Example: `KnightBridge Arms`'
          schema:
            type: string
        -
          name: 'filter[manufacturer.name]'
          in: query
          description: 'Same as filter[manufacturer]. Example: `Anvil Aerospace`'
          schema:
            type: string
        -
          name: 'filter[class_name]'
          in: query
          description: 'Narrow facets to items with matching class name. Example: `MGA_Assault`'
          schema:
            type: string
        -
          name: 'filter[name]'
          in: query
          description: 'Narrow facets to items with matching name. Example: `Arrow`'
          schema:
            type: string
        -
          name: 'filter[query]'
          in: query
          description: 'Narrow facets to items matching name or class name. Example: `Arrow`'
          schema:
            type: string
        -
          name: 'filter[classification]'
          in: query
          description: 'Narrow facets to items with matching classification. Example: `FPS.Armor.Torso`'
          schema:
            type: string
        -
          name: 'filter[size]'
          in: query
          description: 'Narrow facets to items with this size. Example: `3`'
          schema:
            type: number
        -
          name: 'filter[grade]'
          in: query
          description: 'Narrow facets to items with this grade. Example: `3`'
          schema:
            type: number
        -
          name: 'filter[class]'
          in: query
          description: 'Narrow facets to items with this class. Example: `Military`'
          schema:
            type: string
        -
          name: 'filter[rarity]'
          in: query
          description: 'Narrow facets to items with this rarity. Example: `Rare`'
          schema:
            type: string
        -
          name: 'filter[event_source]'
          in: query
          description: 'Narrow facets to items with this event or reward source. Example: `IAE`'
          schema:
            type: string
        -
          name: 'filter[include_irrelevant]'
          in: query
          description: 'When set to true, includes items flagged as not player-relevant (test, placeholder, dev items). Default shows only relevant items.'
          schema:
            type: boolean
      responses:
        '200':
          description: 'Available filter facets for in-game items, grouped by field with counts.'
          content:
            application/json:
              schema:
                properties:
                  filters: { properties: { type: { description: 'Item types (e.g. WeaponPersonal, Cooler, Shield)', type: array, items: { $ref: '#/components/schemas/filter_value' } }, sub_type: { description: 'Item sub-types (e.g. Barrel, Default, Optic)', type: array, items: { $ref: '#/components/schemas/filter_value' } }, classification: { description: 'Item classifications (e.g. FPS.Armor.Torso, Ship.Cooler)', type: array, items: { $ref: '#/components/schemas/filter_value' } }, size: { description: 'Item sizes (0-12)', type: array, items: { $ref: '#/components/schemas/filter_value' } }, grade: { description: 'Item grades (1-7, mapped A-G)', type: array, items: { $ref: '#/components/schemas/filter_value' } }, class: { description: 'Item classes (Civilian, Competition, Industrial, Military, Stealth)', type: array, items: { $ref: '#/components/schemas/filter_value' } }, manufacturer: { description: 'Manufacturer names', type: array, items: { $ref: '#/components/schemas/filter_value' } }, rarity: { description: 'Item rarity levels (Common, Uncommon, Rare, Epic, Legendary)', type: array, items: { $ref: '#/components/schemas/filter_value' } }, event_source: { description: 'Event or reward source labels (count-less values)', type: array, items: { $ref: '#/components/schemas/filter_value' } } }, type: object }
                type: object
  /api/manufacturers:
    get:
      tags:
        - Manufacturers
      summary: 'In-Game Manufacturers Overview'
      description: 'Returns paginated manufacturers grouped by name with optional pagination.'
      operationId: listManufacturers
      parameters:
        -
          $ref: '#/components/parameters/page'
        -
          $ref: '#/components/parameters/page_number'
        -
          $ref: '#/components/parameters/page_size'
        -
          name: 'filter[name]'
          in: query
          description: 'Partial match on manufacturer name'
          schema:
            type: string
      responses:
        '200':
          description: 'List of Manufacturers'
          content:
            application/json:
              schema:
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/manufacturer_link' } }
                  links: { $ref: '#/components/schemas/pagination_links' }
                  meta: { $ref: '#/components/schemas/pagination_meta' }
                type: object
  '/api/manufacturers/{manufacturer}':
    get:
      tags:
        - Manufacturers
      summary: 'In-Game Manufacturer Detail'
      description: 'Retrieve a manufacturer by name, UUID, or code together with its products.'
      operationId: getManufacturer
      parameters:
        -
          name: manufacturer
          in: path
          required: true
          schema:
            description: 'Manufacturer name, uuid, or code'
            type: string
            example: 'Anvil Aerospace'
      responses:
        '200':
          description: 'A Manufacturer and its products'
          content:
            application/json:
              schema:
                properties:
                  data: { $ref: '#/components/schemas/manufacturer' }
                type: object
        '404':
          description: 'Manufacturer not found.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not_found_error_response'
  /api/manufacturers/search:
    post:
      tags:
        - Manufacturers
        - Search
      summary: 'In-Game Manufacturer Search (Deprecated)'
      description: 'Deprecated. Use GET /api/manufacturers?filter[name]={value} for name search. This endpoint will be removed in a future version.'
      operationId: searchManufacturersDeprecated
      parameters:
        -
          $ref: '#/components/parameters/page'
        -
          $ref: '#/components/parameters/page_number'
        -
          $ref: '#/components/parameters/page_size'
      requestBody:
        description: 'Manufacturer name, uuid, or code'
        required: true
        content:
          application/json:
            schema:
              type: object
            example: '{"query": "Anvil"}'
      responses:
        '200':
          description: 'A List of matching Manufacturers'
          content:
            application/json:
              schema:
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/manufacturer_link' } }
                  links: { $ref: '#/components/schemas/pagination_links' }
                  meta: { $ref: '#/components/schemas/pagination_meta' }
                type: object
      deprecated: true
  /api/missions:
    get:
      tags:
        - Missions
      summary: 'List Game Missions'
      description: 'Returns paginated missions for the requested or default game version. Results are grouped by mission variant key by default. Grouping is automatically disabled when filters are active unless filter[grouped]=true is set explicitly. Includes mission, game version, faction, and blueprint relationships.'
      operationId: listMissions
      parameters:
        -
          $ref: '#/components/parameters/page'
        -
          $ref: '#/components/parameters/page_number'
        -
          $ref: '#/components/parameters/page_size'
        -
          $ref: '#/components/parameters/version'
        -
          name: sort
          in: query
          description: 'Sort field. Prefix with "-" for descending. Supported: title, mission_giver, rank_index, reward_min, reward_max, time_to_complete_minutes, max_players_per_instance, reputation_amount.'
          schema:
            type: string
            example: title
        -
          name: 'filter[mission_giver]'
          in: query
          description: 'Exact match on the mission giver NPC name. Example: `Citizens for Prosperity`'
          schema:
            type: string
        -
          name: 'filter[faction]'
          in: query
          description: 'Filter by faction name. Accepts comma-separated values. Example: `Headhunters`'
          schema:
            type: string
        -
          name: 'filter[star_system]'
          in: query
          description: 'Filter by star system name. Example: `Stanton`'
          schema:
            type: string
        -
          name: 'filter[illegal]'
          in: query
          description: 'Filter for missions marked as illegal. Example: `true`'
          schema:
            type: boolean
        -
          name: 'filter[shareable]'
          in: query
          description: 'Filter for shareable missions. Example: `true`'
          schema:
            type: boolean
        -
          name: 'filter[once_only]'
          in: query
          description: 'Filter for one-time-only missions. Example: `true`'
          schema:
            type: boolean
        -
          name: 'filter[available_in_prison]'
          in: query
          description: 'Filter for missions available while in prison. Example: `true`'
          schema:
            type: boolean
        -
          name: 'filter[has_combat]'
          in: query
          description: 'Filter for missions involving combat encounters. Example: `true`'
          schema:
            type: boolean
        -
          name: 'filter[has_defend_objective]'
          in: query
          description: 'Filter for missions with a defend objective. Example: `true`'
          schema:
            type: boolean
        -
          name: 'filter[rank_index]'
          in: query
          description: 'Filter by mission difficulty rank. Example: `1`'
          schema:
            type: integer
        -
          name: 'filter[has_prerequisites]'
          in: query
          description: 'Filter for missions that have prerequisite requirements. Example: `true`'
          schema:
            type: boolean
        -
          name: 'filter[min_enemies]'
          in: query
          description: 'Minimum enemy count threshold. Example: `3`'
          schema:
            type: integer
        -
          name: 'filter[max_enemies]'
          in: query
          description: 'Maximum enemy count threshold. Example: `10`'
          schema:
            type: integer
        -
          name: 'filter[reward_min]'
          in: query
          description: 'Minimum reward in aUEC. Example: `5000`'
          schema:
            type: integer
        -
          name: 'filter[reward_max]'
          in: query
          description: 'Maximum reward in aUEC. Example: `50000`'
          schema:
            type: integer
        -
          name: 'filter[title]'
          in: query
          description: 'Partial match on mission title. Example: `Delivery`'
          schema:
            type: string
        -
          name: 'filter[description]'
          in: query
          description: 'Partial match on mission description. Example: `combat`'
          schema:
            type: string
        -
          name: 'filter[query]'
          in: query
          description: 'Search across title, description, and debug name. Example: `delivery`'
          schema:
            type: string
        -
          name: 'filter[reward_scope]'
          in: query
          description: 'Mission category scope. Example: `Bounty Hunter`'
          schema:
            type: string
        -
          name: 'filter[has_blueprints]'
          in: query
          description: 'Filter for missions that reward blueprints. Example: `true`'
          schema:
            type: boolean
        -
          name: 'filter[reputation_scope]'
          in: query
          description: 'Reputation reward scope from ReputationGained data. Example: `FactionReputation`'
          schema:
            type: string
        -
          name: 'filter[blueprint_name]'
          in: query
          description: 'Filter by crafted item name from mission blueprint rewards. Example: `Arclight Pistol`'
          schema:
            type: string
        -
          name: 'filter[location]'
          in: query
          description: 'Filter by starmap location UUID. Example: `2bf56608-62ea-4d1a-9e9b-38377004dc1b`'
          schema:
            type: string
        -
          name: 'filter[grouped]'
          in: query
          description: 'Control mission variant grouping. Defaults to true (grouped) when no filters are active, false (ungrouped) when filters are active. Set explicitly to true to keep grouping with filters, or false to always ungroup.'
          schema:
            type: boolean
      responses:
        '200':
          description: 'List of missions'
          content:
            application/json:
              schema:
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/mission_index' } }
                  links: { $ref: '#/components/schemas/pagination_links' }
                  meta: { $ref: '#/components/schemas/pagination_meta' }
                type: object
              examples:
                delivery_mission_page:
                  summary: 'Search missions by query'
                  value: { data: [{ uuid: 00000000-0000-0000-0000-000000000000, title: 'Delivery Contract', slug: delivery-contract }], links: { first: 'https://api.star-citizen.wiki/api/missions?page[number]=1', last: null, prev: null, next: null }, meta: { current_page: 1, per_page: 30, total: 1 } }
  '/api/missions/{mission}':
    get:
      tags:
        - Missions
      summary: 'Get Mission Detail'
      description: 'Returns full details for a single mission, including chain relationships and associated items. Results are scoped to the requested or default game version.'
      operationId: getMission
      parameters:
        -
          name: mission
          in: path
          required: true
          schema:
            description: 'Mission slug or UUID'
            type: string
            example: finishing-the-job-4
        -
          $ref: '#/components/parameters/version'
      responses:
        '200':
          description: 'Mission detail'
          content:
            application/json:
              schema:
                properties:
                  data: { $ref: '#/components/schemas/mission' }
                type: object
        '404':
          description: 'Mission not found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not_found_error_response'
  /api/missions/filters:
    get:
      tags:
        - Missions
      summary: 'Get Mission Filter Options'
      description: 'Returns available filter facets for missions, scoped to the requested or default game version.'
      operationId: listMissionFilters
      parameters:
        -
          $ref: '#/components/parameters/version'
        -
          name: 'filter[include_unreleased]'
          in: query
          description: 'Include unreleased and work-in-progress missions'
          schema:
            type: boolean
        -
          name: 'filter[mission_giver]'
          in: query
          description: 'Exact match on the mission giver NPC name. (see GET /api/missions/filters for valid values)'
          schema:
            type: string
        -
          name: 'filter[faction]'
          in: query
          description: 'Filter by faction name. Accepts comma-separated values. (see GET /api/missions/filters for valid values)'
          schema:
            type: string
        -
          name: 'filter[star_system]'
          in: query
          description: 'Filter by star system name. (see GET /api/missions/filters for valid values)'
          schema:
            type: string
        -
          name: 'filter[illegal]'
          in: query
          description: 'Filter for missions marked as illegal'
          schema:
            type: boolean
        -
          name: 'filter[shareable]'
          in: query
          description: 'Filter for shareable missions'
          schema:
            type: boolean
        -
          name: 'filter[once_only]'
          in: query
          description: 'Filter for one-time-only missions'
          schema:
            type: boolean
        -
          name: 'filter[available_in_prison]'
          in: query
          description: 'Filter for missions available while in prison'
          schema:
            type: boolean
        -
          name: 'filter[has_combat]'
          in: query
          description: 'Filter for missions involving combat encounters'
          schema:
            type: boolean
        -
          name: 'filter[has_defend_objective]'
          in: query
          description: 'Filter for missions with a defend objective'
          schema:
            type: boolean
        -
          name: 'filter[rank_index]'
          in: query
          description: 'Filter by mission difficulty rank'
          schema:
            type: integer
        -
          name: 'filter[has_prerequisites]'
          in: query
          description: 'Filter for missions that have prerequisite requirements'
          schema:
            type: boolean
        -
          name: 'filter[min_enemies]'
          in: query
          description: 'Minimum enemy count threshold'
          schema:
            type: integer
        -
          name: 'filter[max_enemies]'
          in: query
          description: 'Maximum enemy count threshold'
          schema:
            type: integer
        -
          name: 'filter[reward_min]'
          in: query
          description: 'Minimum reward in aUEC'
          schema:
            type: integer
        -
          name: 'filter[reward_max]'
          in: query
          description: 'Maximum reward in aUEC'
          schema:
            type: integer
        -
          name: 'filter[title]'
          in: query
          description: 'Partial match on mission title'
          schema:
            type: string
        -
          name: 'filter[description]'
          in: query
          description: 'Partial match on mission description'
          schema:
            type: string
        -
          name: 'filter[query]'
          in: query
          description: 'Search across title, description, and debug name'
          schema:
            type: string
        -
          name: 'filter[reward_scope]'
          in: query
          description: 'Mission category scope. (see GET /api/missions/filters for valid values)'
          schema:
            type: string
        -
          name: 'filter[has_blueprints]'
          in: query
          description: 'Filter for missions that reward blueprints'
          schema:
            type: boolean
        -
          name: 'filter[blueprint_name]'
          in: query
          description: 'Filter by crafted item name from mission blueprint rewards. (see GET /api/missions/filters for valid values)'
          schema:
            type: string
        -
          name: 'filter[reputation_scope]'
          in: query
          description: 'Reputation reward scope from ReputationGained data. (see GET /api/missions/filters for valid values)'
          schema:
            type: string
        -
          name: 'filter[location]'
          in: query
          description: 'Filter by starmap location UUID'
          schema:
            type: string
      responses:
        '200':
          description: 'Filter facets for missions'
          content:
            application/json:
              schema:
                properties:
                  filters: { properties: { mission_giver: { type: array, items: { $ref: '#/components/schemas/filter_value' } }, star_system: { type: array, items: { $ref: '#/components/schemas/filter_value' } }, faction: { type: array, items: { $ref: '#/components/schemas/filter_value' } }, has_combat: { type: array, items: { $ref: '#/components/schemas/filter_value' } }, has_defend_objective: { type: array, items: { $ref: '#/components/schemas/filter_value' } }, rank_index: { type: array, items: { $ref: '#/components/schemas/filter_value' } }, illegal: { type: array, items: { $ref: '#/components/schemas/filter_value' } }, shareable: { type: array, items: { $ref: '#/components/schemas/filter_value' } }, has_prerequisites: { type: array, items: { $ref: '#/components/schemas/filter_value' } }, reward_scope: { type: array, items: { $ref: '#/components/schemas/filter_value' } }, has_blueprints: { type: array, items: { $ref: '#/components/schemas/filter_value' } }, reputation_scope: { type: array, items: { $ref: '#/components/schemas/filter_value' } }, blueprint_name: { type: array, items: { $ref: '#/components/schemas/filter_value' } } }, type: object }
                type: object
  /api/locations:
    get:
      tags:
        - Starmap
      summary: 'Game Starmap Locations Overview'
      description: 'Returns paginated versioned starmap locations with optional filters. Results are scoped to the requested or default game version. Each location includes amenities, hierarchy entity tags, parent and star relations, child count, mission count, and resource availability.'
      operationId: listLocations
      parameters:
        -
          $ref: '#/components/parameters/page'
        -
          $ref: '#/components/parameters/page_number'
        -
          $ref: '#/components/parameters/page_size'
        -
          $ref: '#/components/parameters/version'
        -
          name: sort
          in: query
          description: 'Sort field. Prefix with "-" for descending. Supported: name, type_name, size, child_count.'
          schema:
            type: string
            example: '-size,name'
        -
          name: 'filter[name]'
          in: query
          description: 'Partial match on location name.'
          schema:
            type: string
            example: Aberdeen
        -
          name: 'filter[query]'
          in: query
          description: 'Search locations by name.'
          schema:
            type: string
            example: ArcCorp
        -
          name: 'filter[type_name]'
          in: query
          description: 'Exact match on location type name (see GET /api/locations/filters for valid values).'
          schema:
            type: string
            example: Planet
        -
          name: 'filter[type_classification]'
          in: query
          description: 'Location type classification from JSON data (see GET /api/locations/filters for valid values).'
          schema:
            type: string
            example: Outpost
        -
          name: 'filter[respawn_location_type]'
          in: query
          description: 'Respawn location type classification (see GET /api/locations/filters for valid values).'
          schema:
            type: string
            example: Hospital
        -
          name: 'filter[jurisdiction_name]'
          in: query
          description: 'Governing jurisdiction name (see GET /api/locations/filters for valid values).'
          schema:
            type: string
            example: UEE
        -
          name: 'filter[affiliation_name]'
          in: query
          description: 'Faction or organization affiliation display name (see GET /api/locations/filters for valid values).'
          schema:
            type: string
            example: 'Private Security'
        -
          name: 'filter[is_scannable]'
          in: query
          description: 'When true, only show scannable locations; when false, only show non-scannable.'
          schema:
            type: boolean
            example: true
        -
          name: 'filter[block_travel]'
          in: query
          description: 'When true, only show locations where travel is blocked; when false, only show locations where travel is allowed.'
          schema:
            type: boolean
            example: false
        -
          name: 'filter[amenity]'
          in: query
          description: 'Filter by amenity name, display name, or UUID. Accepts comma-separated values (see GET /api/locations/filters for valid values).'
          schema:
            type: string
            example: 'Commodity Trading'
        -
          name: 'filter[tag]'
          in: query
          description: 'Filter by hierarchy entity tag name or UUID. Accepts comma-separated values.'
          schema:
            type: string
            example: HUR_L1
        -
          name: 'filter[parent_name]'
          in: query
          description: 'Partial match on parent location name.'
          schema:
            type: string
            example: ArcCorp
        -
          name: 'filter[parent_uuid]'
          in: query
          description: 'Exact match on parent location UUID.'
          schema:
            type: string
            format: uuid
            example: f8f07f5b-1c0e-47c9-aa50-46963065bf18
        -
          name: 'filter[system]'
          in: query
          description: 'Partial match on star system name (see GET /api/locations/filters for valid values).'
          schema:
            type: string
            example: 'Stanton System'
        -
          name: 'filter[has_resources]'
          in: query
          description: 'When true, only locations with harvestable resources; when false, only locations without.'
          schema:
            type: boolean
            example: true
        -
          name: 'filter[resource]'
          in: query
          description: 'Filter by harvestable commodity name or UUID. Accepts comma-separated values (see GET /api/commodities for valid values).'
          schema:
            type: string
            example: Agricium
        -
          name: 'filter[hide_minor_locations]'
          in: query
          description: 'When true, exclude minor locations that are only shown when their parent is selected.'
          schema:
            type: boolean
            example: true
      responses:
        '200':
          description: 'List of starmap locations'
          content:
            application/json:
              schema:
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/game_starmap_location' } }
                  links: { $ref: '#/components/schemas/pagination_links' }
                  meta: { $ref: '#/components/schemas/pagination_meta' }
                type: object
  '/api/locations/{identifier}':
    get:
      tags:
        - Starmap
      summary: 'Game Starmap Location Detail'
      description: 'Retrieve a versioned starmap location by slug or UUID. Results are scoped to the requested or default game version. Use the `include` parameter to load additional relations: `children` (child locations with amenities and tags), `resources` (harvestable resource placements with commodity data), `missions` (available missions with faction data).'
      operationId: getLocation
      parameters:
        -
          name: identifier
          in: path
          required: true
          schema:
            description: 'Starmap location slug or UUID'
            type: string
            example: aberdeen
        -
          $ref: '#/components/parameters/include'
        -
          $ref: '#/components/parameters/version'
      responses:
        '200':
          description: 'A starmap location'
          content:
            application/json:
              schema:
                properties:
                  data: { $ref: '#/components/schemas/game_starmap_location' }
                type: object
        '404':
          description: 'No starmap location with specified identifier found.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not_found_error_response'
  /api/locations/filters:
    get:
      tags:
        - Starmap
      summary: 'Game Starmap Location Filters'
      description: 'Return all available filter facet values for versioned starmap locations. Applies any provided filter parameters to scope the facet counts. Returns facets for: type_name, type_classification, respawn_location_type, jurisdiction_name, affiliation_name, system, parent_name, amenity, and resource.'
      operationId: listLocationFilters
      parameters:
        -
          $ref: '#/components/parameters/version'
        -
          name: 'filter[name]'
          in: query
          description: 'Partial match on location name.'
          schema:
            type: string
            example: Aberdeen
        -
          name: 'filter[query]'
          in: query
          description: 'Search locations by name.'
          schema:
            type: string
            example: ArcCorp
        -
          name: 'filter[type_name]'
          in: query
          description: 'Exact match on location type name (see response for valid values).'
          schema:
            type: string
            example: Planet
        -
          name: 'filter[type_classification]'
          in: query
          description: 'Location type classification from JSON data (see response for valid values).'
          schema:
            type: string
            example: Outpost
        -
          name: 'filter[respawn_location_type]'
          in: query
          description: 'Respawn location type classification (see response for valid values).'
          schema:
            type: string
            example: Hospital
        -
          name: 'filter[jurisdiction_name]'
          in: query
          description: 'Governing jurisdiction name (see response for valid values).'
          schema:
            type: string
            example: UEE
        -
          name: 'filter[affiliation_name]'
          in: query
          description: 'Faction or organization affiliation display name (see response for valid values).'
          schema:
            type: string
            example: 'Private Security'
        -
          name: 'filter[is_scannable]'
          in: query
          description: 'When true, only show scannable locations; when false, only show non-scannable.'
          schema:
            type: boolean
            example: true
        -
          name: 'filter[block_travel]'
          in: query
          description: 'When true, only show locations where travel is blocked; when false, only show locations where travel is allowed.'
          schema:
            type: boolean
            example: false
        -
          name: 'filter[amenity]'
          in: query
          description: 'Filter by amenity name, display name, or UUID. Accepts comma-separated values (see response for valid values).'
          schema:
            type: string
            example: 'Commodity Trading'
        -
          name: 'filter[tag]'
          in: query
          description: 'Filter by hierarchy entity tag name or UUID. Accepts comma-separated values.'
          schema:
            type: string
            example: HUR_L1
        -
          name: 'filter[parent_name]'
          in: query
          description: 'Partial match on parent location name.'
          schema:
            type: string
            example: ArcCorp
        -
          name: 'filter[parent_uuid]'
          in: query
          description: 'Exact match on parent location UUID.'
[...]
